<header class="header clear-fix">
    <div class="logo pull-left">
        <a href="/catalog/index">
            <img src="https://sanxinacc.com/website/images/logo.jpg"/>
        </a>
    </div>
    <ul class="pull-right clear-fix nav-container">
        <li><a href="/catalog/index" class="{{if url === 'index'}}active{{/if}}">{{__('nav.home')}}</a></li>
        <li><a href="/catalog/about" class="{{if url === 'about'}}active{{/if}}">{{__('nav.about')}}</a></li>
        <li><a href="/catalog/products" class="{{if url === 'products'}}active{{/if}}">{{__('nav.products')}}</a></li>
        <li><a href="/catalog/contact" class="{{if url === 'contact'}}active{{/if}}">{{__('nav.contact')}}</a></li>
<!--        <li class="switch-language">-->
<!--            <div class="dropdown">-->
<!--                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">-->
<!--                    Language-->
<!--                    <span class="caret"></span>-->
<!--                </button>-->
<!--                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
<!--                    <li><a href="">English</a></li>-->
<!--                    <li><a href="/zh-CN/index">中文（简体）</a></li>-->
<!--                    <li><a href="/zh-TW/index">中文（繁體）</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
    </ul>
</header>
